* {
    margin: 0;
    box-sizing: border-box;
}

.accordion {
    padding: 2vh;
    width: 85vh;
    margin: 0 auto;
    background: rgb(211, 196, 196);
    overflow: hidden;
}

.accordion:hover > .accordion__item > .lab1 > span {
    opacity: 1;
}
.accordion_title {
    font-weight: 700;
    border-bottom: .02rem solid black;
}

input[type="radio"] {
    display: none;
}
.lab1 {
    display: block;
    cursor: pointer;
    border-bottom: .02rem solid gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.memes {
  overflow: hidden;
    height: 0;
    transition: .5s;
}


span {
    opacity: .5;
    transition: .5s;
}
input[type="radio"]:checked ~ .lab1 > .text {
   opacity: 1;
}



input[type="radio"]:checked ~ label > .memes
{
    overflow:visible;
    height: 30vh; 
    padding: 0px;
}

.text {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}


input[type="radio"]:checked ~ label > .text > .plus,
input:hover ~ label > .text > .plus
 {
    transform: rotate(45deg);
}

.plus {
    transition: .5s;
}

.memes img {
   height: 100%;
   width: auto;
}